.challenge-card {
    width: 15rem;
    height: 17rem;
    background-color: rgb(47, 9, 78);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.neon-blue {
    font-family: neon;
    border: 1px solid #426DFB;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #2356FF;
    animation: neon-blue 2s linear infinite;
    -webkit-animation: neon-blue 2s linear infinite;
}

@keyframes neon-blue {
    0%,
    100% {
        box-shadow: 0 0 1vw #1041ff, 0 0 1vw #1041ff, 0 0 2vw #1041ff,
        0 0 5vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
        border: 3px solid #28d7fe;
    }
    50% {
        box-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 2vw #082180,
        0 0 8vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
        border: 3px solid #806914
    }
}