.list-education {
    width: 80%;
    float: left;
    margin-bottom: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.education-background {
    margin-top: 3rem;
    background-color: rgb(21,8,51);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}