.dashboard-header {
    background-color: rgb(21,8,51);
    display: flex;
    justify-content: space-between;  
}    

.dashboard-header-profile {
    margin-left: 1rem;
    margin-right: auto;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}