.list:first-child {
    list-style: none;
}

.resources-background {
    width: 80%;
    margin-left: 0;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.resources-box {
    background-color: rgb(47, 9, 78);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

@media screen and (max-width: 1200px) {
    .resources-box {
        width: 90%;
        float: left;
    }
}

@media screen and (max-width: 990px) {
    .resources-background {
        width: 100%;
    }
    .resources-box {
        width: 100%;
    }
}

