.dashboard-side-menu {
  background-color: #ff5722;
  height: 100vh;
  border-radius: 20px 0 0 20px;
  font-weight: 700;
  overflow-y: auto;
}

.dashboard-side-menu::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
  
.dashboard-side-menu--container {
  position: fixed;
  margin-top: -4.85%;
  border-radius: 20px 0 0 20px;
  overflow-x: hidden;
  align-self: flex-start;
}
  