.staff-list__tabs {
    display: flex;
    height: 50px;
    border-bottom: 2px #422d5d solid;
    overflow-y: hidden;
  }
  
  .staff-list {
    background-color: rgb(57, 18, 102);
    top: -48px;
    position: relative;
    border-radius: 10px;
  }
  
  .staff-list__names {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  