.dashboard-team {
    background-color: rgb(21,8,51);
    margin-right: 25%;
    margin-top: 5%;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 12px; */
  }

  .dashboard-box {
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
  }

  .dashboard-box::-webkit-scrollbar {
      width: .2px;
      background: transparent; /* make scrollbar transparent */
  }
  
  .dashboard-team__tabs {
    display: flex;
    border-bottom: 2px solid #422d5d;
  }
  
  .dashboard-team__tabs__single {
    display: flex;
    flex-direction: column;
    width: 50%;
    transition: 0.3s;
  }
  
  .dashboard-team__tabs__single svg {
    fill: white;
  }
  
  .dashboard-team__tabs__single:hover {
    background-color: #321b50;
    cursor: pointer;
  }
  
  .dashboard-team__tabs__single:first-child {
    border-top-right-radius: 20px;
  }
  
  .dashboard-team__tabs__single:last-child {
    border-top-left-radius: 20px;
  }
  
  .dashboard-team__tabs__single--active svg {
    fill: #ff5722;
  }
  
  .dashboard-team__tabs__single--active {
    color: #ff5722;
    border-bottom: solid;
  }
  
  .dashboard-team__tabs__single--active:hover {
    background-color: #5c213e;
  }
  
  .dashboard-team__body {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }
  
  .dashboard-team__body__alert {
    background-color: #422d5d;
    border-radius: 10px;
    padding: 15px;
  }
  
  .dashboard-team__body__alert svg {
    margin-left: 15px;
  }
  
  .dashboard-team__body__input label {
    position: absolute;
    /*! color: black; */
    right: 20px;
    top: 7px;
  }
  
  .dashboard-team__body__input {
    position: relative;
  }
  
  .dashboard-team__body__input input {
    width: 100%;
    background: transparent;
    border-radius: 10px;
    padding: 10px;
  }
  
  .dashboard-team__body__input:focus-within input {
    border: #ff5722 solid;
  }
  
  .dashboard-team__body__input:focus-within label {
    top: -15px;
    background-color: #281047;
    width: fit-content;
    color: #ff5722;
    padding: 0 10px;
    transition: 0.5s;
    font-size: 0.9em;
  }
  
  .dashboard-team__body div {
    margin: 18px 0;
  }
  
  .dashboard-team__body__input--file input {
    opacity: 0;
    width: 100%;
  }
  
  .dashboard-team__body__input--file {
    border: solid 1px;
    border-radius: 10px;
  }
  
  .dashboard-team__body__caption {
    /*! display: inline; */
    right: 45px;
    position: relative;
    font-size: 0.7em;
    top: -35px;
  }
  
  .dashboard-team__body button {
    background-color: #FF5722;
    border-radius: 25px;
    color: white;
  }

@media screen and (max-width: 991px) {
  .dashboard-team {
    width: 100vw;
  }
}

  